.saveModal {
  --height: 100%;
  --width: 100%;
}
.galleryModal {
  --height: 100%;
  --width: 100%;
}
.enviromentModal {
  --height: 90%;
  --width: 80%;
}
.aws-btn {
  --organic-arrow-thickness: 12px;
  --organic-arrow-border-radius: 20px;
  --organic-arrow-height: 33px;
  --organic-arrow-color: #56a491;
  --control-button-width: 12%;
  --control-button-height: 25%;
}
